#forgot-password {
    width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
}

#forgot-password .bg-image {
    background-image: url(../images/homepage-background-3.jpg);
    background-position: center;
    background-size: cover;
    background-origin: border-box;

}