#log-in {
    width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
}

#log-in .bg-image {
    background-image: url(../images/login.jpg);
    background-position: center;
    background-size: cover;
    background-origin: border-box;

}